@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

#welcomeMessage {
  margin-top: 15%;
  color: rgba(243, 218, 188, 0.921);
  font-size: 3rem;
}

#navTitle {
  color: rgba(243, 218, 188, 0.921);
}

#search {
  max-width: 100%;
}

body {
  background-color: black;
  // COLOR BELOW AFFECTS MENU ITEM COLORS
  color: rgba(243, 218, 188, 0.921);
  text-align: center;
  margin-top: 100px;
}

.btn-primary {
  background-color: rgb(103, 59, 59);
  color: rgba(255, 255, 255, 0.737);
  margin-top: 5%;
}

.btn-warning {
  background-color: rgb(103, 59, 59);
  color: rgba(255, 255, 255, 0.737);
  margin-top: 2%;
  margin-bottom: 5%;
  width: 10rem;
}

.card {
  display: block;
  margin-top: 10%;
  margin-left: 25%;
  max-width: 50%;
  background-color: black;
  color: rgba(226, 210, 170, 0.934);
  border-color: rgba(255, 255, 255, 0.737);
}

.card-body {
  margin-top: 15%;
  margin: 5%;
}

#noOrders {
  margin-top: 20%;
}

#orderName {
  color: rgba(226, 210, 170, 0.934);
  margin-top: 10%;
}

#phoneNumber {
  color: rgba(226, 210, 170, 0.934);
  margin-top: 3%;
}

.form-group {
  color: rgba(226, 210, 170, 0.934);
  margin-top: 3%;
}

.order-details-total {
  color: rgba(226, 210, 170, 0.934);
  margin-top: 10%;
  font-size: 2.5rem;
}

.form-header {
  color: rgba(226, 210, 170, 0.934);
  margin-top: 15%;
  margin-bottom: 3%;
}

// THIS AFFECTS SPACING ON THE CREATE NEW MENU ITEM RADIO BUTTON CONTAINER
#add-new-item {
  margin-top: 4%;
}

// THIS AFFECTS STYLING OF THE ORDER CLOSED ALERT BELOW CLOSED ORDERS
#orderClosed {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 3%;
  color: rgb(188, 46, 46);
}

#orderInputType {
  color: rgba(226, 210, 170, 0.934);
}

#select-type {
  margin-top: 3%;
}

.close-orders {
  margin-top: 10%;
}

#close-order-form {
  display: flex;
  justify-content: center;
}

#revenue {
  display: flex;
  justify-content: center;
  flex-flow: column center;
  color: rgba(255, 255, 255, 0.737);
  background-color: black;
  font-weight: bold;
  font-size: 100%;
  margin-top: 15%;
}

#revenueContainer {
  color: rgba(243, 218, 188, 0.921);
}

#add-item-form,
#update-item-form {
  display: flex;
  flex-direction: column;
}

.radio-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menu-item {
  padding: 3rem;
}
